{% extends 'base.html' %}

{% block content %}

    <script type="text/javascript">
        function customMiles(val){
            let element=document.getElementById('miles');
            if(val=='other')
                element.style.display='block';
            else
                element.style.display='none';
        }
    </script>
    
    <form action="/search-results">
        Search
        <input type="text" name="search">
        <br>
        Distance
        <select name="miles" onchange='customMiles(this.value);'>
            <option value="10" selected>10 Miles</option>
            <option value="25">25 Miles</option>
            <option value="50">50 Miles</option>
            <option value="100">100 Miles</option>
            <option value="other">Other</option>
        </select>
        <br>
        Chonk Preference
        <select name="thickness">
            <!--pull different images based on selection-->
            <option value="large">Jumbo Chonk</option>
            <option value="xlarge">Colossal Chonk</option>
            <option value="all">All Chonkers Need Love</option>
        </select>
        <input type="text" name="miles" id="miles" style='display:none'>
        <br>
        <input type="submit">
    </form>

{% endblock %}


